* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #fdfdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}
